<div id="wrapper">
    <div id="main">
        <div class="container">

            <div class="row countdown">
                <div class="col-md-12">
                    <div id="logo"><img src="/assets/logo.png" width="190" height="23" alt="" data-retina="true"></div>
                    <h1>We are Launching soon!</h1>
                    <h2>Meanwhile, you can make leave your email. We will keep in touch!</h2>
                </div>
                <div id="countdown_wp">
                    <div class="container_count"><div id="days">00</div>days</div>
                    <div class="container_count"><div id="hours">00</div>hours</div>
                    <div class="container_count"><div id="minutes">00</div>minutes</div>
                    <div class="container_count last"><div id="seconds">00</div>seconds</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <% if cookies[:saved_newsletter] %>
                        <div id="newsletter_wp" >
                            <h5 style="text-align: center;">Hurray!, You're signed up for our newletter</h5>
                            <style type="text/css">
                                #social_footer{
                                    margin-top: 20px;
                                }
                            </style>                       
                        </div>
                    <% else %>
                    <div id="newsletter_wp" >
                        <%= form_for Newsletter.new, html: {id: "newsletter", name: "newsletter", autocomplete: "off"} do |f| %>
                            <div class="row">
                                <div class="col-md-9 first-nogutter">
                                    <%= f.text_field :email, placeholder: "Your email", class: "form-control", type: "email" %>
                                </div>
                                <div class="col-md-3 nogutter">
                                    <button type="submit" class="btn-check" id="submit-newsletter">Subscribe</button>
                                </div>
                            </div>
                        <% end %>
                        <div id="message-newsletter">
                            <% if Newsletter.new.errors.any? %>
                              <% Newsletter.new.errors.full_messages.each do |message| %>
                                <%= message %>
                              <% end %>
                            <% end %>
                        </div>                        
                    </div>
                    <% end %>
                </div>  
            </div>
            <div id="social_footer">
                <ul>
                    <li><a href="https://www.facebook.com/mykantin/" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://twitter.com/mykantin" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/mykantin/" target="_blank"><i class="icon-instagram"></i></a></li>
                </ul>
                <p>© myKantin 2017 | Developed by <a href="http://madsuite.com" target="_blank">Madsuite</a></p>
            </div>            
        </div><!-- End container -->
    </div><!-- End main --> 

    <div id="slides">
        <ul class="slides-container">
            <li><img src="/assets/slide_1.jpg" alt=""></li>
            <li><img src="/assets/slide_2.jpg" alt=""></li>
            <li><img src="/assets/slide_3.jpg" alt=""></li>
        </ul>
</div><!-- End background slider -->